{% extends "MelodyMatrix/base.html" %}

{% block content %}
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6 mt-5">
        <div class="card">
          <div class="card-body">
            <h2 class="card-title">Password Reset Request Submitted</h2>
            <p class="card-text">We've emailed you instructions for setting a new password. If you don't receive an email, please check your spam folder.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
