{% extends "MelodyMatrix/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6 mt-5">
        <div class="card">
          <div class="card-body">
            <h2 class="card-title">Enter New Password</h2>
            <form method="post">
              {% csrf_token %}
              {{ form|crispy }}
                <p></p>
              <button type="submit" class="btn btn-dark">Change Password</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
