{% extends "MelodyMatrix/base.html" %}
 
{% block content %} 
    {% if perms.MelodyMatrix.delete_arist %}
        <h1>Delete Artist {{ arist.name}}</h1>
        <form method="Post"> 
            {% csrf_token %} 
            <input type="submit" class="btn btn-danger" value="Delete"> 
            <a href="{% url 'index' pk=artist.id %} ">Cancel</a>
        </form> 
    {% else %} 
        You do not have permission to access this feature 
        <a href="{% url 'index' %}">Home</a> 
    {% endif %} 
{% endblock %} 